<div style="font-size: 40px;color: aqua">
  <span>
    <%=@student.first_name %>
    <%=@student.last_name %>
  </span>
  <span>
    <%=@student.email %>
    <%=@student.created_at %>
  </span>
</div>